@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --cgm-brand: #036;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

tr {
  cursor: pointer;
  &:hover {
    background: var(--cgm-brand);
    color: #fff;
  }
}
